<div class="container">
	<span>
		<p id="errorMessage">{{errorMessage}}</p>
	 </span>
	<div class="row">
		<div class="col"></div>
		<div class="col">
		<span>
					
      			</span>
			<form class='card p-3 bg-light' action="/todo/login" method="post"  [formGroup]="loginForm" modelAttribute="login" (ngSubmit) = "onSubmit()">
				
				<h5 class="card-header" style="background-color: #18d2f8;">Login</h5>
				<div class="mb-3 form-group required">
					<label for="username" class="control-label">User ID:</label>
					<input type="text" class="form-control" formControlName="userName"  id="userName" required  name="userName" [(ngModel)]="login.userName" 
					[ngClass]="{ 'is-invalid': submitted && formControls.userName.errors }" />
					<div *ngIf="submitted && formControls.userName.errors" class="invalid-feedback">
                        <div *ngIf="formControls.userName.errors.required" id="userName.errors">Please enter userName.</div>
                    </div>
				<!-- 	<form:errors path="userName" cssStyle="color: #ff0000" cssClass="error" /> -->
				</div>
				<div class="mb-3 form-group required">
					<label for="password" class="control-label">Password:</label>
					<input type="password" formControlName="password" class="form-control" id="password" required 
					 name="password" [(ngModel)]="login.password"
					 [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }" />
					<div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
                        <div *ngIf="formControls.password.errors.required" id="password.errors">Please enter password.</div>
                    </div>
				</div>
				<div class="mb-3">
					<p>
						<input type="submit" id="submit" value="Submit" />
						<input type="reset" value="Reset" />
				</div>
			</form>
		</div>
		<div class="col"></div>
	</div>
</div>



